# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List the popular languages that Data Scientists use.
- List the commonly used libiraries by Data Scientists.
- List the commonly used Data Science Tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL
4. Julia
5. Scala
6. C++
7. JavaScript
8. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy
4. TensorFlow
5. SciPy
6. Scikit-learn
7. Pytorch
8. Ggplot2

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Christian Sibanyoni